@model pagecom.mvc.application.Dto.Book.BookViewDto?

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#!">Delete product information</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link" href="#!">Get Selling Details</a></li>
                    </ul>
                    
                </div>
            </div>
        </nav>
        <!-- Product section-->
        <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." /></div>
                <div class="col-md-6">
                    <div class="small mb-1">productId : @Model.Id</div>
                    <h1 class="display-5 fw-bolder">@Model.Name.ToUpper()</h1>
                    <div class="fs-5 mb-5">
                        <span>$ @Model.Price</span>
                    </div>
                    <p class="lead">@Model.Description</p>
                    @* <div class="d-flex"> *@
                    @*     <a asp-action="Edit" asp-controller="Book" asp-route-id="@Model.Id" class="btn btn-primary">update</a> *@
                    @* </div> *@
                    
                    <form  asp-controller="Book" asp-action="DeleteMethod" asp-route-id="@Model.Id" method="post">
                        <input type="submit" value="confirm Delete">
                    </form>
                    
                    
                </div>
            </div>
        </div>
        </section>
